body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  min-width: 320px;
  width: 320px;
  border-right: 1px solid #ccc;
  padding: 25px;
}

.sidebar .logo {
  margin-bottom: 25px;
}

.sidebar .logo a {
  font-size: 22px;
}

.sidebar .description {
  font-size: 15px;
  line-height: 1.3;
  color: #999;
  margin-bottom: 25px;
}

.menu ul li {
  margin-bottom: 10px;
  font-weight: 600;
}

.menu ul li a {
  font-size: 14px;
  display: block;
  font-weight: 700;
  color: black;
}