body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  min-width: 320px;
  width: 320px;
  border-right: 1px solid #ccc;
  padding: 25px;
}

.sidebar .logo {
  margin-bottom: 25px;
  background: url(/public/logo.png) left center/35px 30px no-repeat;
}

.sidebar .logo a {
  font-size: 22px;
  margin-left: 42px;
}

.sidebar .description {
  font-size: 15px;
  line-height: 1.3;
  color: #999;
  margin-bottom: 25px;
}

.menu ul li {
  margin-bottom: 10px;
  font-weight: 600;
}

.menu ul li a {
  font-size: 14px;
  display: block;
  font-weight: 700;
  color: black;
  cursor: pointer;
}

.menu ul li a:hover {
  color: #0099e5;
}

.about-modal {
  max-width: 520px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(#000, .1);
  padding: 50px;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.about-modal h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.about-modal p {
  font-size: 14px;
  color: rgb(80, 70, 70);
}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 122, 122, 0.568);
}

.content {
  flex: 1;
  overflow: auto
}

.content .header {
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: #fff;
  align-items: center;
}

.content .header .search {
  flex: 1;
  position: relative;
}

.content .header .download {
  padding: 25px;
}

.content .header .download .selected {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .header .download button { 
  background: transparent;
  cursor: pointer;
  margin-right: 7px;
}

.content .header svg { 
  display: block;
}

.content .header .search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .header .search .icon svg {
  width: 20px;
  height: 20px;
}

.content .header .search input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 0 20px 0 55px;
}

.content .brands {
  padding: 25px;
}

.content .brands .brand {
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.content .brands .selected .brand-colors span {
  flex: 1;
  text-indent: 0 !important;
  cursor: pointer;
}

.content .brands .brand h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content .brands .brand .brand-colors {
  display: flex;
}

.content .brands .brand .brand-colors span {
  background: var(--bgColor);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--textColor);
  text-indent: -9999px;
  width: 70px;
}

.copied {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #999;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
}